<h1>Create form</h1>
<form method="POST" action="/articles/create">
  <div class="form-group">
    <label for="formGroupExampleInput">Article title</label>
    <input type="text" class="form-control" id="formGroupExampleInput" name='title' placeholder="Enter article title">
  </div>
  <div class="form-group">
    <label for="formGroupExampleInput2">Article content</label>
    <input type="text" class="form-control" id="formGroupExampleInput2" name='content' placeholder="Enter article content">
  </div>
   <div class="form-group">
    <label for="formGroupExampleInput2">Article author</label>
    <input type="text" class="form-control" id="formGroupExampleInput2" name='author' placeholder="Enter article author">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>